@import url("https://use.typekit.net/gpf0ejg.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    border: solid 0.5vw #734014;
    background: radial-gradient(closest-side, #C36F09, #C36F09, #7B2D26);
}

.topSection {
    background-color: #466060;
    font-family: "the-seasons", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border: 10vw solid transparent;
    border-image: url(/images/leafBorder.png) 140 round;
}

.topSectionNH {
    background-color: #466060;
    font-family: "the-seasons", sans-serif;
    font-weight: 100;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline 1.5px;
    height: 25vh;
}

.homeImage {
    z-index: 0;
    width: 50vw;
}

#homeContent {
    border: 12vw solid transparent;
    border-image: url(/images/leafBorder.png) 135 round;
    z-index: 15;
}

.homeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #F2C88C;
}